@charset "UTF-8";

body{
	min-height: auto;
	max-height: 100%;
	margin: 5%;
}
.dataTables_wrapper{
	width: 100%;
}
.page-header {
	 padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.button-box {
  text-align:center;
  margin-top:20px;
 }
 
 .button-group-dropdown{
 	padding: 5%;
 }
 
 .button-dropdown-item{
 	height: 30px;
 	padding : 2%;
 	margin : 2%;
 }